@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', Arial;
}

.header {
  color: white;
}

.header__title-container {
  background-color: #c80000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.header__title {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 0.6rem;
}

.header__subtitle {
  font-weight: 600;
  font-size: 0.8rem;
}

.header__theme-container {
  background-color: #666;
  text-align: center;
  padding: 0.6rem 0;
}

.header__theme-title--italic {
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 1rem;
  gap: 1rem;
}

.container__product {
  display: flex;
  flex-direction: column;
  height: 28rem;
  width: 14rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  justify-content: space-between;
  position: relative;
}

.container__product-promo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #666;
  color: white;
  border: #ccc 4px solid;
  border-radius: 5rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.container__product-img {
  width: 14rem;
  align-self: center;
}

.container__product-subtitle {
  color: #ccc;
  font-weight: 800;
  font-size: 0.9rem;
  border-bottom: 1px solid;
  padding-bottom: 0.3rem;
}

.container__product-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.container__product-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c80000;
  padding: 1rem;
  color: white;
  height: 3rem;
  font-size: 0.8rem;
  /* animation: bounce 1000ms ease-in-out; */
  /* transition: all 200ms ease-in-out; */
}

.container__product-add:hover {
  animation: bounce 1000ms ease-in-out;
}

@keyframes bounce {
  0% {
    height: 3rem;
    color: white;
  }
  40% {
    color: white;
  }
  50% {
    height: 1rem;
    color: #666;
  }
  70% {
    color: #666;
  }
  100% {
    height: 5rem;
    color: white;
  }
}

.container__product-price--striked {
  text-decoration: line-through;
  font-size: 1rem;
}

.container__product-price {
  font-weight: bold;
  font-size: 1rem;
}

.container__soldes {
  position: fixed;
  top: 40vh;
  left: 0;
  background-color: #c80000;
  color: white;
  font-weight: bold;
  padding: 1rem 0.5rem;
  border-radius: 0 1rem 1rem 0;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.footer {
  background-color: #666;
  padding: 0.6rem 0;
  color: white;
  text-align: center;
  width: 100%;
}

.footer__bg-div {
  width: 100%;
  height: 0.7rem;
  background-image: url(../images/deco.png);
  background-repeat: repeat-x;
}

/* Positionner le label "soldes" en utilisant 
soit 'position: fixed;' 
soit 'position: sticky;' */
